@charset 'utf-8'
/* Esta é minha primeira folha de estilo*/

body {
    margin: auto;
}

main#corpo{
    min-width: 400px;
    max-width: 1200px;
    min-height: 1400px;
    max-height: 1600px;
    background-image: linear-gradient(100deg, #7f79c4, #6995bb, #5fafb4, #54ad8b);
    margin: auto;
}

header#topo-pagina {
    position: relative;
    padding: 70px;
}

header > img {
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    max-height: 400px;
    position: absolute;
    top: -52%;
    left: 20%;
}

header > h1 {
    position: absolute;
    font-size: 3em;
    color: #e4ff3a;
    text-shadow: 2px 2px 0px #5f605e;
    top: 0%;
    left: 38%;
}

header > h4 {
    position: absolute;
    color: #46463e;
    top: 50%;
    left: 40%;
}

nav#barra {
    background-color: #46463e;
    padding: 1px;
    margin-top: 65px;
}

nav > #ancoras-barra {
    text-align: center;
}

#ancoras-barra > .ancora-barra {
    font-family: Arial;
    color: #fafbf4;
    text-decoration: none;
    border-width: 1px;
    border-style: dotted;
    border-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

article#artigo {
    min-width: 300px;
    max-width: 1000px;
    min-height: 800px;
    max-height: 880px;
    background-color: white;
    border-radius: 10px 50px;
    padding: 70px;
    margin-top: 20px;
    margin-left: 65px;
    margin-right: 60px;
    margin-bottom: 40px;
}

article > .titulo-artigo {
    font-family: serif;
}

article > .texto-artigo {
    font-size: 15px;
    font-family: sans-serif;
    text-align: justify;
}

section#caixa-midias {
    position: relative;
    min-width: 600px;
    max-width: 900;
    min-height: 610px;
    max-height: 900px;
}

section > .caixa-video {
    position: absolute;
}

section > .caixa-imagem1 {
    position: absolute;
    top: -0%;
    left: 65%;
}

section > .caixa-imagem2 {
    position: absolute;
    top: 33.5%;
    left: 65%;
}

section > .caixa-imagem3 {
    position: absolute;
    top: 67%;
    left: 65%;
}

section > .caixa-texto1 {
    position: absolute;
    top: 50%;
    width: 550px;
    text-align: justify;
}

section > .caixa-texto2 {
    position: absolute;
    top: 65%;
    width: 550px;
    text-align: justify;
}

section > aside#caixa-periferico {
    position: absolute;
    top: 81%;
    left: 1%;
    min-width: 300px;
    max-width: 550px;
    min-height: 100px;
    max-height: 110px;
    background-color: #def35a;
    border-radius: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 0px #141517;
}

aside > .texto-periferico {
    font-size: 15px;
    text-align: justify;
    color: #0003ac;
}

p > .ancora-periferico {
    display: none;
}

.texto-periferico:hover > .ancora-periferico {
    display: block;
}

p > .ancora-periferico {
    text-decoration: none;
}

p > .ancora-periferico:visited {
    color: #a12b2b;
}

p > .ancora-periferico:hover {
    text-decoration: underline;
    color: red;
}

p > .ancora-periferico::before {
    content: ">>";
}

p > .ancora-periferico::after {
    content: "<<";
}

footer#base-pagina {
    position: relative;
    min-width: 400px;
    max-width: 1200px;
    min-height: 150px;
    max-height: 200px;
    background-color: #46463e;
    padding-top: 80px;
    padding-left: 200px;
}

footer > .logo-imagem {
    min-width: 200px;
    max-width: 300px;
    min-height: 150px;
    max-height: 200px;
    position: absolute;
    top: -5%;
    left: 60%;
}
